* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(201, 187, 187);
    display: grid;
    width: 1200px;
    margin: 2rem auto;
    /*  */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    grid-gap: 15px;
    /*  */
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.items {
    background-color: yellow;
    border-radius: 10px;
}

.small {
    grid-row: span 1;
}

.medium {
    grid-row: span 2;
}

.large {
    grid-row: span 3;
}